@code{

    [CascadingParameter] MonthlyView Parent { get; set; }

    [Parameter] public Day CurrentDay { get; set; }
    [Parameter] public RenderFragment ModalContent { get; set; }

    string TodayCss { get; set; }
    string DayOfTheWeek { get; set; }
    DayOfWeek DayOfWeekNumber { get; set; }

    bool IsToday { get; set; }
    bool SameMonth { get; set; }
    string CardCss { get; set; }
    string CardContents { get; set; }
    bool Selected { get; set; }
    EmptyModal Modal = new EmptyModal();

    Day Today { get; set; } = new Day(DateTime.Today);

    public void DateSelected()
    {
        if (SameMonth)
        {
            if (Selected)
                Selected = false;
            else
                Selected = true;

            if (Selected)
                Modal.OpenModal();
            else
                Modal.CloseModal();
        }
    }

    protected override Task OnParametersSetAsync()
    {
        IsToday = CurrentDay.Equals(Today);

        DayOfTheWeek = CurrentDay.Name;
        DayOfWeekNumber = CurrentDay;

        SameMonth = CurrentDay.Month.Equals(Parent.CurrentMonth.Number);

        CardCss = IsToday ? "rounded-0 card m-0 bg-danger" : !SameMonth ? "rounded-0 card m-0 bg-transparent" : "rounded-0 card m-0 bg-secondary";
        CardContents = SameMonth ? $"Empty" : "";

        Parent.AddDay(this);

        return Task.CompletedTask;
    }
}


<div class="@CardCss" @onclick="DateSelected">
    @if (SameMonth)
    {
        <div class="card-header text-right p-0" title="@CurrentDay.ToString()">

            <a href="javascript:void(0)" class="card-link text-right text-white p-2">@CurrentDay.DayOfMonth</a>

        </div>
        <div class="card-body">
            <div class="card-text">
                @CardContents
            </div>
        </div>
    }
</div>

@if (ModalContent != null && SameMonth)
{
    <EmptyModal @ref="Modal" Title="@(() => CurrentDay.ToString())" ModalTitle="@CurrentDay.ToString()">

        <ComponentContent>
            @ModalContent
        </ComponentContent>

    </EmptyModal>
}