@code{

    [CascadingParameter] MonthlyView Parent { get; set; }

    [Parameter] public IEnumerable<IEvent> Events { get; set; }
    [Parameter] public Day CurrentDay { get; set; }
    [Parameter] public RenderFragment ModalContent { get; set; }

    string TodayCss { get; set; }
    string DayOfTheWeek { get; set; }
    DayOfWeek DayOfWeekNumber { get; set; }

    bool IsToday { get; set; }
    bool SameMonth { get; set; }
    string CardCss { get; set; }
    bool Selected { get; set; }
    EmptyModal Modal = new EmptyModal();
    IEnumerable<IEvent> DailyEvents = new List<IEvent>();

    Day Today { get; set; } = new Day(DateTime.Today);

    public void DateSelected()
    {
        if (SameMonth)
        {
            if (Selected)
                Selected = false;
            else
                Selected = true;

            if (Selected)
                Modal.OpenModal();
            else
                Modal.CloseModal();
        }
    }

    protected override Task OnParametersSetAsync()
    {
        IsToday = CurrentDay.Equals(Today);

        DayOfTheWeek = CurrentDay.Name;
        DayOfWeekNumber = CurrentDay;

        SameMonth = CurrentDay.Month.Equals(Parent.CurrentMonth.Number);

        CardCss = IsToday ? "rounded-0 card m-0 bg-danger" : !SameMonth ? "rounded-0 card m-0 bg-transparent" : "rounded-0 card m-0 bg-secondary";

        Parent.AddDay(this);

        DailyEvents = Events
            .Where(a => a.Start.Year.Equals(CurrentDay.Year) && a.Start.Month.Equals(CurrentDay.Month) && a.Start.Day.Equals(CurrentDay.DayOfMonth))
            .ToList();

        return Task.CompletedTask;
    }
}


<div class="@CardCss" @onclick="DateSelected">

    @if (SameMonth)
    {
        <div class="card-header text-right py-0 px-2" title="@CurrentDay.ToString()">

            <a href="javascript:void(0)" class="card-link text-right text-white">@CurrentDay.DayOfMonth</a>

        </div>
        <div class="card-body p-0">
            <div class="card-text">
                @if (Events != null)
                {
                    <ul style="list-style:none" class="m-0 p-0">
                        @foreach (var item in DailyEvents)
                        {
                            <li class="text-left bg-light border" title="@item.Description">
                                <a class="text-black-50" href="javascript:void(0)">@item.Name</a>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    }

</div>

@if (ModalContent != null && SameMonth)
{    
    <EmptyModal @ref="Modal" Title="@(() => CurrentDay.ToString())" ModalTitle="@CurrentDay.ToString()">

        <ComponentContent>
            @ModalContent
        </ComponentContent>

    </EmptyModal>
}